html,
body {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

a {
    outline: none;
}

/* code { */
    /* background-color: rgba(0, 0, 0, 0.02); */
/* } */

.wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto
}

.header {
    padding: 20px 0;
    position: relative;
    background: #f5f5f5;
    border-bottom: 1px solid #eaeaea;
}

.mobile-header {
    display: none;
    padding: 20px 0;
    position: relative;
    background: #f5f5f5;
    border-bottom: 1px solid #eaeaea;
    font-family: 'Lato';
}

.flex {
    display: flex;
}

.hidden {
    display: none
}

input.toggle {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

.nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: right;
}

.nav-logo {
    float: left;
    margin-top: -11px;
    transition: transform 150ms ease-out;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.nav-logo img {
    display: block;
    max-height: 40px;
    width: auto;
    border-radius: 50%;
}

.nav-links {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: #111;
}

.nav-links a:hover {
    color: #000;
}

.content {
    max-width: 700px;
    margin: 40px auto 10px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

.article {
    max-width: 800px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.article img {
    width: 100%;
}

.article-title {
    font-size: 34px;
    color: #222;
    margin: 0;
    line-height: 1.3;
}

.article-date {
    color: #ccc;
}

.article-duration {
    margin-top: 12px;
    float: right;
    font-size: 10px;
    padding: 1px 5px;
    font-weight: bold;
    border-radius: 3px;
    background: #bbb;
    color: #fff
}

.article-content p {
    margin: 15px 0 25px;

}

.article-content a {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid #CBF8DF;
    box-shadow: inset 0 -4px 0 #CBF8DF;
    background: transparent;
    transition: background 150ms ease;
}

.article-content a:hover,
.article-content a:focus {
    background: #CBF8DF;
}

.article-content hr {
    width: 150px;
    margin: 50px auto;
    height: 1px;
    overflow: hidden;
    border: none;
    background: #e5e5e5;
}

.article-content>table {
    font-size: 14px;
    max-width: 100%;
    margin: 10px 0;
    border-spacing: 0;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.125);
    box-shadow: 2px 2px 3px rgba(0,0,0,.125)
}

.article-content>table thead {
    background: #f0f2f5
}

.article-content>table td,
.article-content>table th {
    padding: 5px 15px;
    border: 1px double #e7eaef
}

.article-content>table tr:hover {
    background-color: #f0f2f5
}

.align-center {
    align-items: center
}

.article-icon {
    filter: var(--icon-filter);
}

.article-toc {
    position: fixed;
    margin-left: 740px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Lato';
}

.article-toc .article-toc-content {
    width: 16rem;
    top: 69px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.article-toc nav>ul>li:first-child {
    margin-top: 0;
}

.article-toc ul>li {
    list-style-type: none;
}

.article-toc a {
    color: #000000;
}

.article-toc a:link,a:visited {
    text-decoration: none;
}

.article-toc a:hover {
    color: #9EABB3;
}

.mobile-toc {
    flex: 0 0 16rem;
    color: #000000;
    font-size: 14px;
    font-family: 'Lato';
}

.mobile-toc nav>ul>li:first-child {
    margin-top: 0;
}

.mobile-toc ul>li {
    list-style-type: none;
}

.mobile-toc a {
    color: #000000;
}

.mobile-toc a:link,a:visited {
    text-decoration: none;
}

.mobile-toc a:hover {
    color: #9EABB3;
}

.archive-title {
    font-size: 32px;
    margin-top: 60px;
}

.archive-item {
    margin: 5px 0 15px;
    padding: 0;
}

.article-tag {
    margin-left: 3px;
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #9EABB3;
    border: #E3E9ED 1px solid;
    transition: color 0.3s ease;
}

.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform .1s
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(.96)
}

.archive-item-date {
    color: #ccc;
    font-size: 14px;
    padding: 5px 0;
    margin-top: 5px;
    display: block;
}

.archive-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #222;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
    border-bottom-color: #222;
}

.footer {
    padding: 25px 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ccc;
    font-size: 14px;
}

.footer-links li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    transition: color 150ms ease;
    margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #222;
}

.footer-links li::before {
    content: '/';
    position: relative;
    left: -2px;
}

.footer-links li:first-child::before {
    display: none;
}

.footer-links-kudos img {
    position: relative;
    top: 6px;
    margin-left: 2px;
}

.nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left;
}

.nav-link {
    padding: 0;
    padding-left: .5rem;
    transition: all ease-out .3s;
    color: #1c2d41
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    padding-left: 1rem;
    padding-right: .5rem;
    background-color: #248aaa;
    color: #f9f9f9;
    transition: all ease-out .3s;
}

.highlight {
    border-radius: 3px;
    position: relative;
    margin: 40px 0;
    font-size: 14px;
}

.highlight pre {
    padding: 10px;
}

.archive {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.3em;
    text-align: center;
    color: #111;
}

.archive-title {
    font-size: 32px;
    margin-top: 60px;
}

.archive-item {
    margin: 5px 0 15px;
    padding: 0;
}

.article-tag {
    margin-left: 3px;
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #9EABB3;
    border: #E3E9ED 1px solid;
    transition: color 0.3s ease;
}

.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform .1s
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(.96)
}

.archive-item-date {
    color: #ccc;
    font-size: 14px;
    padding: 5px 0;
    margin-top: 5px;
    display: block;
}

.archive-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #222;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
    border-bottom-color: #222;
}

.footer {
    padding: 25px 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ccc;
    font-size: 14px;
}

.footer-links li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    transition: color 150ms ease;
    margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #222;
}

.footer-links li::before {
    content: '/';
    position: relative;
    left: -2px;
}

.footer-links li:first-child::before {
    display: none;
}

.footer-links-kudos img {
    position: relative;
    top: 6px;
    margin-left: 2px;
}

@media screen and (max-width:1050px) {
    .article-toc {
        display: none
    }
}

@media screen and (max-width:800px) {
    #toc-control {
        display: inline
    }

    .header {
        display: none;
    }


    .mobile-header {
        display: block;
    }

    #toc-control:focus~main label[for=toc-control] {
        outline-style: auto;
        outline-color: currentColor;
        outline-color: -webkit-focus-ring-color
    }

    #toc-control:checked~main .mobile-header aside {
        display: block;
    }
}

@media screen and (min-width:800px) {
    .header {
        padding: 25px 0;
    }

    .nav-logo {
        margin-top: -13px;
    }

    .nav-logo img {
        max-height: 50px;
    }

    .nav-links {
        font-size: 18px;
    }

    .nav-links li {
        margin: 0 0 0 30px;
    }

    .content {
        font-size: 19px;
        line-height: 1.8;
    }

    .highlight {
        font-size: 16px;
        margin: 40px -20px;
    }

    .archive {
        text-align: left;
    }

    .archive-title {
        font-size: 38px;
    }

    .archive-item-date {
        font-size: 19px;
        text-align: right;
        float: right;
    }

    .archive-item-link {
        text-overflow: ellipsis;
        max-width: calc(100% - 120px);
        white-space: nowrap;
        overflow: hidden;
    }

    .article-title {
        font-size: 42px;
    }

    .article-duration {
        font-size: 12px;
    }

    .footer-links {
        font-size: inherit;
    }
}

@media print {
    .footer {
        display: none;
    }

    .article-toc {
        display: none;
    }

    .mobile-header,.mobile-header aside {
        display: block;
    }

    .article-content a {
        box-shadow: none;
    }
}


code {
    padding: 1px 5px;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    /* font-size: 0.91rem; */
    color: #e96900;
    background-color: #f8f8f8;
    border-radius: 2px;
}

pre code {
    padding: 0;
    color: #e8eaf6;
    background-color: #272822;
}

pre[class*="language-"] {
    padding: 1.2em;
    margin: .5em 0;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #e8eaf6;
    white-space: pre-wrap !important;
} */

.line-numbers-rows {
    border-right-width: 0px !important;
}

.line-numbers {
    padding: 1.5rem 1.5rem 1.5rem 3.2rem !important;
    margin: 1rem 0 !important;
    background: #272822;
    overflow: auto;
    border-radius: 0.35rem;
    tab-size: 4;
}


pre {
    padding: 1.5rem !important;
    margin: 1rem 0 !important;
    background: #272822;
    overflow: auto;
    border-radius: 0.35rem;
    tab-size: 4;
}

pre::before {
    content: "";
    height: 16px;
    margin-bottom: 0;
    display: block;
}

pre::after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    background: #ff5f56;
    width: 12px;
    height: 12px;
    top: 0;
    left: 12px;
    margin-top: 12px;
    -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
    box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}

code {
    padding: 1px 5px;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    font-size: 0.91rem;
    color: #000000;
    background-color: #E9ECEF;
    border-radius: 2px;
}

.code_copy {
    position: absolute;
    top: 0.7rem;
    right: 35px;
    z-index: 1;
    filter: invert(50%);
    cursor: pointer;
}

.code_lang {
    position: absolute;
    top: 1.2rem;
    right: 60px;
    line-height: 0;
    font-weight: bold;
    font-family: normal;
    z-index: 1;
    filter: invert(50%);
    cursor: pointer;
} 

.code-expand {
    position: absolute;
    top: 4px;
    right: 0px;
    filter: invert(50%);
    padding: 7px 10px;
    z-index: 1;
    cursor: pointer;
    transition: all .3s;
    transform: rotate(0deg);
}

.code-closed .code-expand {
    transform: rotate(-180deg) !important;
    transition: all .3s;
}

.code-closed pre::before {
    height: 0px;
}

pre code {
    padding: 0;
    color: #e8eaf6;
    background-color: #272822;
}

pre[class*="language-"] {
    padding: 1.2em;
    margin: .5em 0;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #e8eaf6;
    white-space: pre-wrap !important;
}
